@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans+Narrow:wght@400;700&display=swap");

/* estilos gerais */

* {
    margin: 0;
    padding: 0;
}

* body {
    background: #000;
    font-family: "Inter", -apple-system, sans-serif;
    color: white;
}

nav {
    display: flex;
    height: 60px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.logo {
    width: 230px;
    height: 170px;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

p{
    color: white;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 40px;
    padding: 10px 20px;
    background: #000;
    color: green;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 97%;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
}

.email{
    background: linear-gradient(to right, #02a502, #43df43, #02a502);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 main{
    justify-items: center;
    justify-content: center;
    padding: 5% 0% 1% 2%;
 }

 h1{
    background: linear-gradient(to right, #02a502, #43df43, #02a502);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
 }

 h2{
    text-align: center;
    font-size: 1.6rem;
    background: linear-gradient(to right, #02a502, #43df43, #02a502);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
 }

    h3{
        text-align: center;
        font-size: 1.3rem;
        background: linear-gradient(to right, #02a502, #43df43, #02a502);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

/* estilo para navbar responsiva */
.navbar{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 6vh;
    padding: 10px;
    background: #000;
    color: green;
    border-bottom: #333 solid 1px;
}

.menu a {
    gap: 80px;
    padding: 0 50px;
}

.menu-toggle{
    display: none;
    position: absolute;
    background: transparent;
    left: 5px;
    width: 50px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
.menu {
    position: absolute;
    top: 65px;
    left: 0;
    width: 30%;
    background: #111;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
  }

    .menu ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .menu a {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .menu.show {
    display: flex;
    max-height: 500px;
  }

    .menu-toggle {
    display: block;
  }
}