<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursinho Web</title>
    <link rel="shortcut icon" href="../src/images/livros.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/">Início</a> |
                <a href="/disciplinas">Disciplinas Oferecidas</a> |
                <a href="/contato">Entre em contato</a>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer>
        <p>Cursinho Web. Todos os direitos reservados.</p>
        <br>
        <p>Contato: <a href="email@provedor.com" class="email">email@provedor.com</a></p>
    </footer>
    <script src="./src/scripts/script.js"></script>
</body>
</html>