{% extends "base.html" %}

{% block title %}
    <title>Cursinho Web</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/index.css">
{% endblock %}

{% block content %}
    <main>
        <section class="inicio">
        <div class="div-inicio">
        <h1>BEM-VINDO(A) AO CURSINHO WEB</h1>
       
        <p class="p-inicio">Nossa empresa oferece cursos de aprofundamento em Programação.</p>
    
        <div class="curso-botao">
        <button class="bt-inicio"><a href="/disciplinas">Explorar</a></button>
        </div>
    </div>
    <div>
        <img src="/static/src/images/empresa.jpg" alt="Imagem Empresa" class="img-inicio" width="600" height="350">
    </div>
    </section>
    </main>
{% endblock %}